.container {
  max-width: 1120px;
  margin: 4rem auto;
  padding: 3rem;
  background-color: #17181f;
  border-radius: .5rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;

  p {
    color: #f2f6fc;
    font-size: 1.5rem;
    line-height: 150%;
  }

  .actions {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .date {
      display: flex;
      align-items: center;
      gap: .5rem;
      color: #FFBB00;
      svg {
        font-size: 1.5rem;
        color: #FFBB00;
      }
    }

    .backButton {
      display: flex;
      align-items: center;
      gap: .5rem;
      color: #fff;
      transition: filter .3s;

      &:hover {
        filter: brightness(.8);
      }
      
      svg {
        font-size: 1.5rem;
        color: #fff;
      }
    }
  }
}