.headerContainer {
  height: 6rem;
  background-color: #141a29;
}

.headerContent {
  max-width: 1120px;
  margin: 0 auto;
  height: 6rem;
  display: flex;
  align-items: center;
  gap: 5rem;

  img {
    cursor: pointer;
  }

  nav {
    height: 5rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    
    a {
      color: #FFF;
      display: inline-block;
      height: 5rem;
      line-height: 5rem;
    }
  }

  button {
    margin-left: auto;
  }
}